* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(41, 38, 38);;
}
.content {
    width: 80vw;
    height: 70vh;
    margin: 0 auto;
}
.photos {

}